extends base


block content 
    .presentation
        h1 QUI SOMMES-NOUS ?

        h3 Depuis la saison 2011-2012, suite à entente avec le club voisin HBGG, le GGAHB Handball gère le pôle handball féminin de Guilherand-Granges.

        .presentation-content
            article     
                h2 Le Guilherand-Granges Ardèche Handball
                p Avec plus de 180 adhérents, le Guilherand-Granges Ardèche Handball (GGAHB) privilégie la formation des jeunes depuis le minihand (école de hand labellisée) jusqu’aux moins de 18 ans. Depuis la saison …

            article
                h2 Historique
                p Fondée en 1968 par une poignée de passionnés, la section Handball de l’Amicale Laïque Guilherand-Granges occupe une place privilégiée dans le paysage du Handball régional. Club formateur par excellence, l’AL …

            article
                h2 Equipe Dirigeante
                p Le bureau du club est composé de 13 bénévoles et d’un salarié. Le club est présidé depuis 2018 par Émilien Dorne. Vous trouverez ci-dessous l’organigramme administratif et l’organigramme sportif.