html 
	head 
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title HandBallGG | #{title}
		link(rel='stylesheet', href='css/style.css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")

	body
		include navbar

		block content


		footer
			p Guilherand-Granges Ardèche Handball
			p Espace Rémy Roure -- 07500 Guilherand-Granges
			p Facebook : @GGAhandball
			p 5107009@ffhandball.net

	script(src='js/bundle.js')