extends base

block content
    header.homePage
        div.imgPrez
            img(src='img/homepage/home.png', alt='home', class='animate__animated animate__fadeInUp playerHome')
        div.textPrez
            h1 HandBallGG
            h2 Le handball au feminin
            button(onclick='window.location.href="/presentation"') Qui sommes nous?
