extends base


block content 
	h1 🚧 Page en construction 🚧
		each match in matchs
			section.matchInformation

				section.headerInformationMatch
					h1=match.gymnasium +" : "

				section.bodyInformationMatch
					article.firstEquipeInformation
						h1=match.host

					article.secondEquipeInformation
						h1=match.host