extends base


block content
	form(id="searchForm" method="POST")
		p Barre de recherche:
			input(type="text" name="search" id="searchInformation" placeholder="Entrez le nom de l'équipe")
	input(type="submit" id='searchBtn')
	h1 🚧 Page en construction 🚧
		each match in matchs
			section.mainSection
				section.matchInformation
					section.headerInformationMatch
						h1=match.gymnasium +" : "

					section.bodyInformationMatch
						article.firstEquipeInformation
							h1=match.localTeam

						p='VS'

						article.secondEquipeInformation
							h1=match.againstTeam 