nav 
	section 
		a(href='/') 
			img(src='img/logo.png', alt='logo')
	section
		//- div 
		//- 	a(href='actualites') Actualités
		//- div 
		//- 	a(href='#') Le club
		//- 	div.nav-dropdown
		//- 		a(href='presentation') Présentation
		//- 		a(href='historique') Historique
		//- 		a(href='partenaires') Partenaires
		div 
			a(href='equipes') Équipes
		div 
			a(href='matchs') Matchs
		//- div 
		//- 	a(href='boutique') Boutique
		div 
			a(href='entrainements') Entrainements
		div 
			a(href='utilisateurs') Utilisateur
			div.nav-dropdown
				a(href='utilisateurs') Consulter
				a(href='creationUtilisateur') Création
		div 
			a(href='#' class='deconnexiondeconnexiondeconnexion')
				i(class="bi bi-box-arrow-right")

		//- div 
		//- 	a(href='pratique') Pratique
		//- 	div.nav-dropdown
		//- 		a(href='inscriptions') Inscriptions
		//- 		a(href='entrainements') Entrainements
		//- 		a(href='planningBenevoles') Planning bénévoles
		//- 		a(href='connexion') Connexion
		//- 		a(href='contact') Contact
	