extends base

block content
    main(class='partners animate__animated animate__fadeInUp')
        section     
            a(href='https://www.guilherand-granges.fr/' target='_blank')
                img(src='/img/partners/logo_gg.png', alt='Guilherand Granges')
            a(href='https://www.ardeche.fr/' target='_blank')
                img(src='/img/partners/logo_ardeche.png', alt='Ardèche')
            a(href='http://www.maisonscreationsconstructions.fr/m-226-mp-constructions.html' target='_blank')
                img(src='/img/partners/logo_mp.gif', alt='MP Constructions')
            a(href='http://www.maisonscreationsconstructions.fr/' target='_blank')
                img(src='/img/partners/logo_mcc.jpg', alt='MCC')
            a(href='https://www.reparstores.com/rendez-vous/26/drome/valence' target='_blank')
                img(src='/img/partners/logo_reparstores.png', alt='ReparStores')
            a(href='https://www.evasion-voyages.fr/' target='_blank')
                img(src='/img/partners/logo_evsaion.jpg', alt='Evasion')
            a(href='https://impressions-modernes.fr/' target='_blank')
                img(src='/img/partners/logo_impression.svg', alt='Impression modernes')
            a(href='https://www.renaultsportardeche.fr/' target='_blank')
                img(src='/img/partners/logo_renault.png', alt='Renault')