:root {
    --accent-lighter: #bfeda7;
    --accent-light: #a1e47d;
    --accent-primary: #64d02b;
    --accent-dark: #50a622;
    --accent-darker: #3b7b1a;

    --accent-success: #2ecc40;
    --accent-warning: #ff851b;
    --accent-danger: #ff4136;
    --accent-error: #be3029;


}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #efefef;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1c1c1c;
    }
}