:root {
    /* Colors */
    --accent-lighter: #bfeda7;
    --accent-light: #a1e47d;
    --accent-primary: #64d02b;
    --accent-dark: #50a622;
    --accent-darker: #3b7b1a;

    --accent-success: #2ecc40;
    --accent-warning: #ff851b;
    --accent-danger: #ff4136;
    --accent-error: #be3029;


    /* Other */
    --radius-norm: 8px;
    --radius-lighter: 4px;
    --blur-norm: 20px;
}

@media (prefers-color-scheme: light) {
    :root {
        /* Colors */
        --text-color-primary: black;
        --bg-color: white;
        --bg-color-darker: #efefef;
        --nav-bg-color: #e0e0e0a9;
        --shadow-color: #0000007a;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    li,
    span,
    div,
    input,
    textarea,
    button {
        color: var(--text-color-primary);
    }



    /*--------------------------------------------------
                            Navbar
    --------------------------------------------------*/

    nav>section>div:hover,
    .nav-dropdown a:hover {
        background-color: var(--accent-light);
    }





    /*--------------------------------------------------
                        PrezArticle
    --------------------------------------------------*/

    .team {
        background: linear-gradient(rgba(255, 255, 255, 0.7),
                rgba(255, 255, 255, 0.7)), url(../img/Loisirs.jpg);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Colors */
        --text-color-primary: white;
        --bg-color: #161616;
        --bg-color-darker: #171717;
        --nav-bg-color: #0d0d0da9;
        --shadow-color: #7474744f;
    }


    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    li,
    span,
    div,
    input,
    textarea,
    button {
        color: var(--text-color-primary);
    }


    /*--------------------------------------------------
                            Navbar
    --------------------------------------------------*/

    nav>section>div:hover,
    .nav-dropdown a:hover {
        background-color: var(--accent-darker);
    }



    /*--------------------------------------------------
                        PrezArticle
    --------------------------------------------------*/

    .team {
        background: linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url(../img/Loisirs.jpg);
    }
}





/*--------------------------------------------------
                       Global
--------------------------------------------------*/
html,
body {
    margin: 0;
    padding: 0;

    background-color: var(--bg-color);
}

* {
    font-family: 'Roboto', sans-serif;
    transition: ease-in-out;
    transition-duration: 200ms;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

main {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    border: none;
    border-radius: var(--radius-norm);
    color: var(--text-color-primary);
    background-color: var(--shadow-color);
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: var(--accent-primary);
}





/*--------------------------------------------------
                        Navbar
--------------------------------------------------*/

nav {
    background-color: var(--nav-bg-color);
    color: var(--accent-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin: 10px;
    border-radius: var(--radius-norm);
    -webkit-backdrop-filter: blur(var(--blur-norm));
    backdrop-filter: blur(var(--blur-norm));
    height: 73px;
    top: 5px;
    z-index: 10;
}

nav * {
    color: var(--text-color-primary);
    text-decoration: none;
}

nav>section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav div {
    border-radius: var(--radius-norm);
}

nav div a {
    border-radius: var(--radius-norm);
}

nav img {
    max-width: 70px;
}

nav>section>div {
    padding: 0 20px;
    height: 73px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}



nav>section>div:hover .nav-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-dropdown {
    display: none;
    position: absolute;
    top: 73px;
    padding: 0px 20px;
    margin-right: -20px;
    background-color: var(--nav-bg-color);
    -webkit-backdrop-filter: blur(var(--blur-norm));
    backdrop-filter: blur(var(--blur-norm));
}

.nav-dropdown a {
    text-align: center;
    padding: 20px 20px;
    width: 100%;
}





/*--------------------------------------------------
                     HomePage
--------------------------------------------------*/
header {
    margin-top: -105px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background-image: url("./../img/homepage/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #161616;
}

header * {
    color: white;
}

header h1 {
    font-size: 100px;
    margin: 10px 0;
}

header h2 {
    font-size: 45px;
    margin: 10px 0;
}

header button {
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    margin-top: 15px;
}



.imgPrez {
    display: flex;
    align-items: flex-end;
    height: 100vh;
    background-image: url("./../img/homepage/whiteBalloon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 580px;
}

.playerHome {
    width: 650px;
}




/*--------------------------------------------------
                     PrezArticle
--------------------------------------------------*/

.team {
    margin: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 800px;
    border-radius: var(--radius-norm);
    border: 1px solid var(--text-color-primary);
    box-shadow: 4px 4px 10px var(--shadow-color);
}

.team * {
    max-height: 300px;

}

.team>div {
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius-norm);
    -webkit-backdrop-filter: blur(var(--blur-norm));
    backdrop-filter: blur(var(--blur-norm));
}

.team img {
    max-width: 450px;
    border-radius: var(--radius-norm);
}

.team aside {
    font-size: 110%;
    padding: 35px;
}










/*--------------------------------------------------
                     Partners
--------------------------------------------------*/

.partners {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.partners>section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.partners img {
    max-width: 250px;
    max-height: 250px;
}

.partners a {
    margin: 10px;
}






/*--------------------------------------------------
                     Footer
--------------------------------------------------*/



















/*--------------------------------------------------
                     Responsive
--------------------------------------------------*/

@media only screen and (max-width: 800px) {
    header {
        flex-direction: column !important;
    }

    .imgPrez {
        background-size: 280px !important;
    }

    .playerHome {
        width: 255px !important;
    }

    header h1 {
        font-size: 60px !important;
    }

    header h2 {
        font-size: 30px !important;
    }

    .textPrez {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

/*--------------------------------------------------
                     Match
--------------------------------------------------*/

.mainSection{
    display: flex;
    justify-content: center;
}

.matchInformation{
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 75%;
    margin: 20px;
}

.headerInformationMatch{
    background-color: rgb(66, 66, 66);
    height: 12%;
}

.headerInformationMatch>h1{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding-left: 10px;
}

.bodyInformationMatch{
    display: flex;
    justify-content: space-around;
    background-color: #3b7b1a;
    height: 350px;
}

.firstEquipeInformation{
    background-color: #1a3a09;
}
.secondEquipeInformation{
    background-color: #1a3a09;
}

.firstEquipeInformation,.secondEquipeInformation{
    width: 35%;
    height: 90%;
    margin-top: 25px;
}

.firstEquipeInformation>h1,.secondEquipeInformation>h1{
    display: flex;
    justify-content: center;
    margin: 5px;
    font-size: 50%;
}

.bodyInformationMatch>p{
    display: flex;
    align-items: center;
    font-size: 200%;
}