:root {
    /* Colors */
    --accent-lighter: #bfeda7;
    --accent-light: #a1e47d;
    --accent-primary: #64d02b;
    --accent-dark: #50a622;
    --accent-darker: #3b7b1a;

    --accent-success: #2ecc40;
    --accent-warning: #ff851b;
    --accent-danger: #ff4136;
    --accent-error: #be3029;


    /* Other */
    --radius-norm: 8px;
    --radius-lighter: 4px;
    --blur-norm: 50px
}

@media (prefers-color-scheme: light) {
    :root {
        /* Colors */
        --text-color-primary: black;
        --bg-color: white;
        --bg-color-darker: #efefef;
        --nav-bg-color: #e0e0e0a9;
    }





    /*--------------------------------------------------
                            Navbar
    --------------------------------------------------*/

    nav>section>div:hover,
    .nav-dropdown a:hover {
        background-color: var(--accent-light);
    }


}

@media (prefers-color-scheme: dark) {
    :root {
        /* Colors */
        --text-color-primary: white;
        --bg-color: #1c1c1c;
        --bg-color-darker: #171717;
        --nav-bg-color: #0d0d0da9;
    }




    /*--------------------------------------------------
                            Navbar
    --------------------------------------------------*/

    nav>section>div:hover,
    .nav-dropdown a:hover {
        background-color: var(--accent-darker);
    }
}





/*--------------------------------------------------
                       Global
--------------------------------------------------*/
html,
body {
    margin: 0;
    padding: 0;

    background-color: var(--bg-color);
}

* {
    font-family: 'Roboto', sans-serif;
    transition: ease-in-out;
    transition-duration: 200ms;
}








/*--------------------------------------------------
                        Navbar
--------------------------------------------------*/

nav {
    background-color: var(--nav-bg-color);
    color: var(--accent-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin: 10px;
    border-radius: var(--radius-norm);
    -webkit-backdrop-filter: blur(var(--blur-norm));
    backdrop-filter: blur(var(--blur-norm));
    height: 73px;
    top: 0;
    z-index: 10;
}

nav * {
    color: var(--text-color-primary);
    text-decoration: none;
}

nav>section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav div {
    border-radius: var(--radius-norm);
}

nav div a {
    border-radius: var(--radius-norm);
}

nav img {
    max-width: 70px;
}

nav>section>div {
    padding: 0 20px;
    height: 73px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}


.nav-dropdown {
    display: none;
}

nav>section>div:hover .nav-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-dropdown {
    position: absolute;
    top: 73px;
    padding: 0px 20px;
    margin-right: -20px;
    background-color: var(--nav-bg-color);
    -webkit-backdrop-filter: blur(var(--blur-norm));
    backdrop-filter: blur(var(--blur-norm));
}

.nav-dropdown a {
    text-align: center;
    padding: 20px 20px;
    width: 100%;
}